{{#partial "content"}}
    <div class="comtainer">
        <h1 class="text-center">My Heroes</h1>
        <h1 class="text-center">{{squadName}}</h1>



    </div>

<!--    A modal Form-->
<!--    <div class="modal fade" id="modalDefaultContactForm" tabindex="-1" role="dialog"-->
<!--         aria-labelledby="myModalLabel" aria-hidden="true">-->
        <!--Modal: Contact form-->
        <div>

            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header purple-color white-text">
                    <h4 class="title">
                        <i class="fa fa-pencil-alt"></i> CREATE YOUR HERO</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="/squads/{{squad.id}}/heroes/new" method="post">
                        <!-- Default input name -->
                        <label for="name">Hero name</label>
                        <input type="text" id="name" name="name" class="form-control form-control-sm">

                        <br>

                        <!-- Default input email -->
                        <label for="age">Hero"s Age</label>
                        <input type="number" id="age" name="age" class="form-control form-control-sm">

                        <br>

                        <!-- Default input subject -->
                        <label for="specialPower">Special Power</label>
                        <input type="text" id="specialPower" name="specialPower" class="form-control form-control-sm">

                        <br>

                        <!-- Default textarea message -->
                        <label for="weakness">Weakness</label>
                        <input type="text" id="weakness" name="weakness" class="form-control form-control-sm">


                        <div class="text-center mt-4 mb-2">
                            <button class="btn btn-outline-purple" type="submit">SUBMIT<i
                                    class="fa fa-paper-plane-o ml-2"></i></button>
                        </div>

                    </form>



                </div>
            </div>
            <!--/.Content-->
        </div>
        <!--/Modal: Contact form-->
<!--    </div>-->


{{/partial}}

{{> layout.hbs}}