{{#partial "content"}}
    <div class="row">

        <div class="col-md-12">

            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h1 class="heading display-3">HERO SQUAD</h1>
                <h4 class="subheading font-weight-bold">Welcome to Hero Squad, a fun app to team up your favourites heroes and get to fight for a cause of your choice.</h4>
                <h6 class="font-weight-bold indigo-text py-2">Not all heroes wear capes.</h6>

                <div id="myBtn">
                    <a href="/squads" class="btn btn-outline-secondary btn-rounded waves-effect" role="button">View Squads</a>
                    <a href="/squad/new" class="btn btn-outline-secondary btn-rounded waves-effect" role="button">Add Squad</a>
                </div>
            </div>

        </div>


    </div>


{{/partial}}

{{> layout.hbs}}