{{#partial "content"}}
    <div class="view">
        <div class="row main">

            <div class="col-md-12">

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="heading display-3">HERO SQUAD</h1>
                    <h4 class="subheading font-weight-bold">Welcome to Hero Squad, a fun app to team up your favourites heroes and get to fight for a cause of your choice.</h4>
                    <p class="font-weight-bold purple-text py-2"><i class="fas fa-quote-left"></i> Not all heroes wear capes. <i class="fas fa-quote-right"></i></p>
                    <div class="mr-auto align-items-center">
                        <a href="/squads" class="btn btn-outline-secondary btn-rounded waves-effect" role="button">View Squads</a>
                        <a href="/squad/new" class="btn btn-outline-secondary btn-rounded waves-effect" role="button">Add Squad</a>
                    </div>
                </div>

            </div>


        </div>

    </div>



<!--    <div class="card card-cascade wider reverse">-->



<!--        <div class="card-body card-body-cascade text-center">-->

<!--            &lt;!&ndash; Title &ndash;&gt;-->
<!--            <h1 class="card-title"><strong>HERO SQUAD</strong></h1>-->
<!--            &lt;!&ndash; Subtitle &ndash;&gt;-->
<!--            <h2 class="font-weight-bold purple-text py-2">Not all heroes wear capes.</h2>-->
<!--            &lt;!&ndash; Text &ndash;&gt;-->

<!--            <p class="card-text"> Welcome to Hero Squad, a fun app to team up your favourites heroes and get to fight for a cause of your choice.-->
<!--            </p>-->

<!--            <a href="/squads" class="btn btn-outline-secondary btn-rounded waves-effect" role="button">View Squads</a>-->
<!--            <a href="/squad/new" class="btn btn-outline-secondary btn-rounded waves-effect" role="button">Add Squad</a>-->


<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; Card &ndash;&gt;-->
<!--    </div>-->



{{/partial}}

{{> layout.hbs}}